/* Variables LESS */

@noir: #000000;
@blanc: #ffffff;
@couleurEnteteColonne: #e2f3e8;
@couleurFooter: #e8cbc1;
@couleurFooter2: #fbddd3;
@arrierePlan: #fdeae4;
@couleurbouton: #ffdfbf;
@couleurTitresMembre: #8e2653;
@gris: gray;


/* Reset... */
	* {
		padding:0;
		margin:0;
		box-sizing: border-box;
	}

/* base: AA8339 et D4A36A*/

a {

	padding: 10px;
	font-size: 20px;

}

body{

	background-color: @arrierePlan;
	text-align: center;


	form.mon_formulaire  {

		display: flex;
		justify-content: space-around;
		margin: 0 auto;
		margin-top: 2%;
		//margin-left: 20px;
		padding-bottom: 30px;
		width: 50%;
		height: 10%;


		input {

			flex: 1 0 0;

			background-color: @blanc;
			padding: 2px;
			margin: 0.5%;
		}

		input[type=submit]{

			font-weight: bold;
			margin-left: 1%;
			padding-left: 1%;
			padding-right: 1%;
			font-size: 1em;
			cursor: pointer;

			&:hover{

				background-color: @couleurFooter;

			}

		}

		div{

			height: 20vh;

		}

	}

	form.formulaire_recherche {

		height: 7vh;


		div{

			display: flex;
			justify-content: center;
			flex-direction: row;

			input {

				margin: 0.5%;

			}

		}

	}

	table {

		display: flex;
		justify-content: center;
		//width: 20%;

		tbody{


			tr:first-child {

				padding: 20px;
				border: 1px solid @noir;
				background-color: @couleurFooter;
				font-weight: bold;
				text-transform: uppercase;

				th{

					padding: 1%;
					border: 1px solid @noir;

					a{

						text-decoration: none;
					}

				}

				th:nth-child(1){

					display: none;

				}

			}

			tr{

				td {

					font-size: 15px;
					padding: 10px;
					border: 1px solid @noir;
					background-color: @blanc;

					a{

						text-decoration: none;

					}
				}

				td:nth-child(1){

					display: none;

				}

				td:nth-child(7){

					background-color: @couleurFooter2;
					padding: 0;
					margin-left: 2%;

					a {					
						font-size: 0.8em;
						text-transform: uppercase;
						font-weight: bold;
					}
					
					&:hover{

						background-color: @blanc;

					}

				}


				td:nth-child(8){

					background-color: @couleurFooter2;
					padding: 0;
					margin-left: 2%;

					a {					
						font-size: 0.8em;
						text-transform: uppercase;
						font-weight: bold;
					}

					&:hover{

						background-color: @blanc;

					}

				}

				td:nth-child(9){

					background-color: @gris;
					padding: 0;
					margin-left: 2%;


					a {					
						font-size: 1em;
						text-transform: uppercase;
						color: @blanc;

					}

					&:hover{

						background-color: @noir;
						//background-color: @couleurFooter2;

					}

				}

			}



		}

	}

	table {

		margin: 0 auto;
		border-collapse: collapse;

	}

	h1{

		color: @couleurTitresMembre;

	}

	p{

		color: @couleurTitresMembre;

	}

	header.entete {

		background-color: @couleurFooter;
		padding-bottom: 0.5%;
		display: flex;
		flex-direction: column;

		nav{

			display: flex;
			justify-content: space-around;
			height: 8vh;
			width: 48%;
			margin: 0 auto;
			//background: @arrierePlan;

			a{

				display: flex;
				align-items: center;
				justify-content: center;
				width: 20%;
				border: 2px solid @arrierePlan;
				text-decoration: none;
				color: @couleurTitresMembre;

				&:hover{

						background-color: @couleurFooter2;

				}

				i{

						margin-right: 1%;

				}

			}

		}

		section{

			margin-top: 3%;
			margin-bottom: 1%;

			i{

				font-size: 4em;
				color: @couleurTitresMembre;

			}

			h1{

				font-size: 1.5em;
				color: @couleurTitresMembre;

			}

		}

	}

	h1.profilMembre {

		color: @couleurTitresMembre;
		margin: 0 auto;
		margin-top: 4%;
		margin-bottom: 2%;
		font-size: 2.5em;
		border-bottom: 1px solid @couleurTitresMembre;
		width: 30%;


	}

	div.ficheMembre {

		//border-top: 1px solid @couleurTitresMembre;
		//border-bottom: 1px solid @couleurTitresMembre;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		height: 15vh;
		align-items: flex-end;

		div.titreChamps {

			background-color: @couleurFooter2;
			width: 15%;
			border-bottom: 1px solid @couleurTitresMembre;
			h1 {

				padding-top: 2%;
				padding-bottom: 2%;
				font-size: 1.1em;
				background-color: @couleurTitresMembre;
				margin: 0 auto;
				color: @arrierePlan;

			}

			div {

				color: @couleurTitresMembre;

				padding-top: 10%;
				padding-bottom: 10%;
				font-size: 1.5em;
				//border-bottom: 1px solid @couleurTitresMembre;
				margin: 0 auto;

			}

		}

	}


	footer {


			padding-top: 2%;
			padding-bottom: 2%;
			margin-top: 10%;
			background-color: @couleurFooter;
			display: flex;
			flex-direction: row;
			justify-content: space-around;

			ul{

				display: flex;
				flex-direction: column;
				justify-content: space-around;
				border-left: 2px solid @blanc;
				border-right: 2px solid @blanc;
				padding-left: 3%;
				padding-right: 3%;

				li{

					text-decoration: none;
					list-style: none;
					//background-color: @couleurFooter2;
					margin-top: 1%;
					margin-bottom: 1%;
					color: @couleurTitresMembre;

					&:hover{

						background-color: @couleurFooter2;

					}

					a{
						color: @couleurTitresMembre;
						text-decoration: none;
						//color: @couleurFooter

					}

				}


			}

	}

}


@media (min-width: 740px) and (max-width: 1024px) {

	body {

		form.mon_formulaire {

			flex-direction: column;
			justify-content: space-around;
			height: 30vh;
			width: 40%;
			margin-top: 7%;

			input {


			}

			input[type=submit]{


				&:hover{


				}

			}

		}

		form.formulaire_recherche {

			display: flex;
			flex-direction: column;
			height: 10vh;
			//justify-content: center;

			div{

				//flex-direction: column;
				//justify-content: flex-start;
				width: 40%;
				margin: 0 auto;
				height: 5vh;
				//align-items: center;

				input {

					margin: 2%;

				}

			}

		}

		header.entete {

			//flex-direction: column;

			nav{

				width: 100%;

			}

		}

		table {

			font-size: 0.5em;

			tbody { 

				tr {
					
						padding-top: 2%;
						padding-bottom: 2%;
						font-size: 1.2em;

					th {

						padding-top: 0%;
						padding-bottom: 0%;
						font-size: 1em;

						a{

							padding-top: 0%;
							padding-bottom: 0%;
							font-size: 1em;

						}

					}

					td {

						padding-left: 0;
						padding-right: 0;
						padding-top: 2%;
						padding-bottom: 2%;
						font-size: 1.2em;

					}

				}

			}

		}

		h1.profilMembre {

			width: 80%;

		}

		div.ficheMembre {

			height: 70vh;
			align-items: center;
			flex-wrap: wrap;

			div.titreChamps {

				width: 40%;
		
				h1 {

					

				}

				div {

					

				}

			}

		}

	}


}



@media (max-width: 739px) {

	body {



		form.mon_formulaire {

			flex-direction: column;
			justify-content: space-around;
			height: 40vh;
			width: 60%;
			margin-top: 7%;

			input {

				margin: 2%;
			}

			input[type=submit]{


				&:hover{


				}

			}

		}

		form.formulaire_recherche {

			display: flex;
			flex-direction: column;
			height: 10vh;
			//justify-content: center;

			div{

				//flex-direction: column;
				//justify-content: flex-start;
				width: 40%;
				margin: 0 auto;
				height: 5vh;
				//align-items: center;

				input {

					margin: 2%;

				}

			}

		}

		header.entete {

			//flex-direction: column;

			nav{

				width: 100%;

			}

		}

		table {

			font-size: 0.5em;
			justify-content: initial;
			//margin: 0 auto;

			tbody { 

				margin: 0 auto;

				tr {
					
						padding-top: 2%;
						padding-bottom: 2%;
						font-size: 1.2em;

					th {

						padding-top: 0%;
						padding-bottom: 0%;
						font-size: 1em;

						a{

							padding-top: 0%;
							padding-bottom: 0%;
							font-size: 1em;

						}

					}

					td {

						padding-top: 2%;
						padding-bottom: 2%;
						padding-left: 0;
						padding-right: 0;
						font-size: 1.2em;

					}

				}

			}

		}

		h1.profilMembre {

			width: 80%;
			font-size: 1.4em;
			
		}

		div.ficheMembre {

			height: 40vh;
			align-items: center;
			flex-wrap: wrap;

			div.titreChamps {

				width: 40%;
		
				h1 {

					font-size: 0.8em;

				}

				div {

					font-size: 0.8em;

				}

			}

		}

	}


}


